<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name=".DinoMemoriesWidgetReceiver" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/dino_memories_widget_info" />
    </receiver>
    <receiver android:name=".DinoCouponsWidgetReceiver" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/dino_coupons_widget_info" />
    </receiver>
    <receiver android:name=".DinoMessagesWidgetReceiver" android:exported="true">
      <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/dino_messages_widget_info" />
    </receiver>
  </application>
</manifest>
