name = "dinocupones-api"
main = "src/index.js"
compatibility_date = "2026-09-01"

[vars]
ALLOWED_ORIGIN = "https://davidgil1731ferluis-gif.github.io"
APP_URL = "https://davidgil1731ferluis-gif.github.io/DINO-CUPONES/"
CLOUDINARY_UPLOAD_PRESET = "dinocupones_signed"

FIREBASE_PROJECT_ID = "dinocupones"
CLOUDINARY_CLOUD_NAME = "kyeuesop"
CLOUDINARY_API_KEY = "757553613526614"
# ONESIGNAL_APP_ID = "tu-onesignal-app-id"

# Secrets (NO poner valores aquí):
# npx wrangler secret put CLOUDINARY_API_SECRET
# npx wrangler secret put ONESIGNAL_API_KEY
